*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header {
    background-color: #242424;
    position: sticky;
    top: 0;
    border: 1px solid #ED1C24;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.main_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;
}
.Header-Image{
    display: flex;
    justify-content: center;
    width: 20%;
}
.headerLogo{
    width: 80px;
    height: 50px;
}
.headerLogo img{
    width: 100%;
    height: 100%;
}
.header-data{
    width: 60%;
}
.header-data ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-data li{
    list-style: none;
}
.header-data a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-right: 50px;
}
.header-data a:hover{
    color: #ED1C24;
}

/* banner-container */

.banner-container{
    display: flex;
    flex-direction: column;
    background-color: #242424;
    width: 100%;
    height: 70vh;
    justify-content: center;
    padding-left: 150px;
}
.banner-container h1{
    width: 50%;
    color: #fff;
    margin: 20px 0px 20px 0px;
    font-family: "Arial", Sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.banner-container span:hover{
    color: #ED1C24;
}
.banner-container p:hover{
    color: #fff;
}
.banner-container p{
    width: 40%;
    color: #fff;
}

/* marketing-advertising */

.marketing-advertising{
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    width: 100%;
    align-items: center;
}
.marketing-data{
    width: 50%;
}
.marketing-data h2{
    color: #ED1C24;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 10px 0px;
}
.marketing-data p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    width: 90%;
    color: #000;
}
.marketing-data p:hover{
    color: #000;
}
.marketing-image{
    width: 50%;
}
.image-container{
    width: 100%;
}
.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/* what-we-do */

.what-we-do{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #242424;
    padding: 50px 0px;
}
.what-we-do-data h2{
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #ED1C24;
}
.what-we-do-data p{
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.what-we-do-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 100px;
    justify-content: space-between;
}
.block-1 , .block-2 , .block-3 , .block-4{
    border: 1px solid #000;
    width: 24%;
    border-radius: 10px;
    text-align: center;
}
.block-1-image , .block-2-image , .block-3-image , .block-4-image{
    width: 100%;
    height: 300px;
}
.block-1-image img , .block-2-image img , .block-3-image img , .block-4-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.block-1-data , .block-2-data , .block-3-data , .block-4-data{
    padding: 20px;
}
.block-1-data h3 , .block-2-data h3 , .block-3-data h3 , .block-4-data h3{
    color: #ED1C24;
    font-size: 20px;
    font-family: "Arial", Sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.block-1-data p , .block-2-data p , .block-3-data p , .block-4-data p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;  
    color: #fff;  
}
.block-1-data p:hover , .block-2-data p:hover , .block-3-data p:hover , .block-4-data p:hover{
    color: #fff;    
}


/* serve-business */

.serve-business{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}
.serve-business-data h2{
    font-size: 30px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding-left: 100px;
}
.serve-business-data h2:hover{
    color: #ED1C24;
}

.serve-business-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 100px;
    justify-content: space-between;
}
.business-block-1 , .business-block-2 , .business-block-3{
    border: 1px solid #000;
    width: 32%;
    border-radius: 10px;
    text-align: center;
}
.business-block-1-image , .business-block-2-image , .business-block-3-image {
    width: 100%;
    height: 300px;
}
.business-block-1-image img , .business-block-2-image img , .business-block-3-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.business-block-1-data , .business-block-2-data , .business-block-3-data {
    padding: 20px;
}
.business-block-1-data h3 , .business-block-2-data h3 , .business-block-3-data h3 {
    color: #ED1C24;
    font-size: 20px;
    font-family: "Arial", Sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.business-block-1-data p , .business-block-2-data p , .business-block-3-data p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;  
    color: #000;  
}
.business-block-1-data p:hover , .business-block-2-data p:hover , .business-block-3-data p:hover {
    color: #000;    
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    background-image: url(../images/ezgif.com-gif-maker-9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    align-items: center;
}
.footer_Heading h4{
    color:#ED1C24;
    font-family: "Roboto", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 70px;
    padding-top: 30px;
}
.footer_content h4{
    color:#ED1C24;
    font-family: "Roboto", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 30px;
    text-align: left;
}
.footer_Heading li{
    list-style: none;
}
.footer_Heading a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 20px 27px;
}
.footer_Heading a:hover{
    color: #ED1C24;
    border: 2px solid #ED1C24;
}
.footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    padding-top: 50px;
}
.footer_logo{
    width: 200px;
    height: 120px;
}
.footer_logo img{
    width: 100%;
    height: 100%;
}

.footer_content li , p{
    list-style: none;
    text-align: left;
    line-height: 2em;
}
.footer_content a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.footer_content a:hover , p:hover{
    color: #ED1C24;
}

@media(min-width: 375px){
    .main_div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .header-data ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-data a {
        margin-right: 0px;
    }
    .header-data ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
    }
    .banner-container {
        padding-left: 50px;
        height: max-content;
    }
    .banner-container h1 {
        font-size: 20px;
        width: 100%;
    }
    .banner-container p {
        width: 80%;
        font-size: 12px;
        margin-bottom: 30px;
    }
    .marketing-advertising {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    .marketing-data {
        width: 100%;
    }
    .marketing-data p {
        font-size: 12px;
        width: 100%;
    }
    .marketing-image {
        width: 100%;
        padding: 20px 0px;
    }
    .what-we-do-data p {
        padding: 10px 50px;
        font-size: 12px;
    }
    .business-block-1 , .business-block-2 , .business-block-3{
        border: 1px solid #000;
        width: 99%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .block-1 , .block-2 , .block-3 , .block-4{
        border: 1px solid #000;
        width: 99%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .what-we-do-block {
        padding: 20px 50px;
    }
    .serve-business {
        padding: 50px 50px;
    }
    .serve-business-block {
        padding: 0px;
    }
    .serve-business-data h2 {
        font-size: 25px;
        padding-left: 0px;
        padding-bottom: 30px;
    }
    .footer_Heading h4 {
        font-size: 25px;
    }
    .footer_content {
        display: flex;
        flex-direction: column;
    }
    .footer_logo{
        padding-top: 50px;
        height: 170px;
    }
}
@media(min-width: 767.98px){
    .main_div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .header-data ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        padding: 20px 0px;
    }
    .header-data {
        width: 80%;
    }
    .banner-container {
        height: max-content;
        padding-left: 80px;
    }
    .banner-container h1 {
        width: 60%;
        font-size: 30px;
    }
    .banner-container p {
        font-size: 14px;
        margin-bottom: 50px;
    }
    .business-block-1 , .business-block-2 , .business-block-3{
        border: 1px solid #000;
        width: 49%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .block-1 , .block-2 , .block-3 , .block-4{
        border: 1px solid #000;
        width: 49%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .serve-business-block {
        padding: 0px;
    }
    .serve-business-data h2 {
        padding: 0px 0px 10px 0px;
        width: 80%;
    }
    .marketing-advertising {
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        width: 100%;
        align-items: center;
    }
    .marketing-image {
        width: 80%;
    }
    .marketing-data {
        width: 80%;
        margin-bottom: 50px;
    }
}
@media(min-width: 991.98px){
    .header-data ul {
        width: 70%;
        padding: 20px 0px;
    }
    .business-block-1 , .business-block-2 , .business-block-3{
        border: 1px solid #000;
        width: 49%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .block-1 , .block-2 , .block-3 , .block-4{
        border: 1px solid #000;
        width: 49%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
}
@media(min-width:1199.98px){
    .header-data ul {
        width: 80%;
        padding: 20px 0px;
    }
    .banner-container {
        height: 60vh;
        padding-left: 100px;
    }
    .banner-container p {
        width: 50%;
    }
    .marketing-advertising {
        display: flex;
        flex-direction: row;
        padding: 50px 100px;
        width: 100%;
        align-items: center;
    }
    .marketing-image {
        width: 50%;
    }
    .marketing-data {
        width: 50%;
        margin-bottom: 50px;
    }
    .marketing-data p {
        font-size: 12px;
        width: 90%;
    }
    .block-1, .block-2, .block-3, .block-4 {
        border: 1px solid #000;
        width: 30%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .what-we-do-block {
        padding: 20px 100px;
    }
    .serve-business {
        padding: 50px 100px;
    }
    .business-block-1, .business-block-2, .business-block-3 {
        border: 1px solid #000;
        width: 30%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .footer_content {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 50px;
    }
}
@media(min-width:1439.98px){
    .block-1, .block-2, .block-3, .block-4 {
        border: 1px solid #000;
        width: 24%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
    .business-block-1, .business-block-2, .business-block-3 {
        border: 1px solid #000;
        width: 30%;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0px;
    }
}